<%= link_to "Home", lists_path, class: "btn btn-primary" %>

<%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-success" %>

<h1>Details</h1>
<%= @list.name %>
<%# <ul class="container"> %>
<%# @list.bookmarks.each do |bookmark, index|>%>
  <%#<li><%= bookmark.movie.title > <%= link_to "❌", bookmark_path(bookmark.id), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} ></li %>
  <%# <% end %>
<%# </ul> %>

<table class="container table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">title</th>
      <th scope="col">overview</th>
      <%#th scope="col">poster_url</th>%>
      <th scope="col">rating</th>
      <th scope="col">delete</th>
    </tr>
  </thead>
  <tbody>
      <% @list.bookmarks.each_with_index do |bookmark, index|%>
    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td><%= bookmark.movie.title %></td>
      <td><%= bookmark.movie.overview %></td>
      <%#<td><%= bookmark.movie.poster_url ></td>%>
      <td><%= bookmark.movie.rating %></td>
      <td><%= link_to "❌", bookmark_path(bookmark.id), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %></td>
    </tr>
      <% end %>
  </tbody>
</table>
